.proyecto{
    height: 150px;
    width: 200px;
}

.img_pr{
    height: 150px;
    width: 200px;
}

.jumbotron{
    margin-left: 20px;
    margin-right: 20px;
}

.jumbotron p, h1{
    margin-left: 10px;
    margin-right: 10px;
}

.row{
    margin-left: 20px;
    margin-right: 20px;
}